<IfModule mod_mime.c>
    AddType video/mp4 .mp4
    AddType video/webm .webm
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(mp4|webm)$">
        Header set Accept-Ranges "bytes"
    </FilesMatch>
</IfModule>
